@{
    ViewData["Title"] = "Juego";
}
<main class = "@ViewBag.fondoCSS">
    <div class= "jugar">
        <h3>Jugador: @ViewBag.Usuario</h3>
        <h3>Puntaje actual: @ViewBag.puntaje</h3>
    </div>
    
    <h3 class = "formJugar">@ViewBag.DatosPreguntaActual.Enunciado</h3>

    <form action='@Url.Action("VerificarRespuesta")' method="post" class="formJugar">
        <div class= "imgPregunta">
            <img src="@ViewBag.DatosPreguntaActual.Foto">
        </div>
        
        @foreach (Respuesta rta in ViewBag.DatosRespuestas)
        {
      <div class="Radio">
          <input type="radio" id="respuesta_@rta.IdRespuesta" name="idRespuesta" value="@rta.IdRespuesta" required />
          <label for="respuesta_@rta.IdRespuesta">@rta.Contenido</label>
      </div>
        }
        <input type="hidden" name="idPregunta" value="@ViewBag.DatosPreguntaActual.IdPregunta" />
        <button type="submit" class="btn btn-primary">Verificar</button>
    </form>
</main>
